header nav a:not(:first-child) {
  padding-left: 4em;
}

body > header {
  height: 16vh;
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  text-align: center;
}

body > header h1 {
  margin: 0.5em 0 0 0;
  font-size: 6em;
}

header nav {
  font-size: 2em;
}

article {
  padding-top: 16vh;
}

body {
  font-family: monospace;
}

article > header {
  font-size: 1.5em;
}

article:nth-child(2) > header {
  color: red;
}

article:nth-child(3) > header {
  color: orange;
}

article:nth-child(4) > header {
  color: goldenrod;
}

article:nth-child(5) > header {
  color: green;
}
